@model GissaTaletMVC.Models.SecretNumber

@{
    ViewBag.Title = "SessionError";
}
<!DOCTYPE html>
<h1><strong>Spelomgången kunde inte fullföljas!</strong></h1>
<p>Du väntade för länge med att gissa så spelomgången kunde inte genomföras</p>
<p>@Html.ActionLink("Börja om", "Index")</p>
