@{
    ViewBag.Title = "Home Page";
}
<img src="bild.jpg" alt="HTML5 Icon" style="width:750px;height:300px;margin-left:14%;">
<div class="forstasid">
    <p class="forstasid">SMART SOM BARA DEN! VAR VÄNLIG VÄLJ EN UNDERSIDA</p>
</div>